body{
  margin: 50px;
  padding: 0px;
  display: flex;
  justify-content: center;

}

.container{
  background: rgb(255,114,255);
  align-items: center;
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.tempos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

ul{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  font-family: Noto Sans, sans-serif;
}
li{
  padding: 0px 10px;
  margin: 0px;
  font-size: 2em;
}

.textos{
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}

p{
  padding: 0px 23px;
  margin: 0px;
  font-family: Noto Sans, sans-serif;
}
h1{
    font-family: Noto Sans, sans-serif;
}
button{
  background-color: purple;
  border-style: none;
  font: Noto Sans, sans-serif;
  color: white;
  height:50px;
  margin-top: 100px;
}
